/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
npm-debug.log.*

# ignore output of code coverage
/report

# ignore phpstorm helper file
.phpstorm.meta.php
_ide_helper.php

# ignore output of npm builds
/public/css
/public/js